.contact {
  margin: 5rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include respond(m) {
    flex-direction: row;
  }
}

.form {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: $font-exo;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  div {
    width: 90%;
    display: grid;
    grid-template-columns: 15rem 1fr;
    margin: 1rem auto;
    label {
      font-size: 2rem;
    }
    input {
      margin-left: 2rem;
      padding: 1rem;
    }
    textarea {
      margin-left: 2rem;
      padding: 1rem;
      height: 15rem;
    }
  }
  button {
    @include button("secondary");
  }
}

.info {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $font-exo;
    font-weight: 300;
    margin-bottom: 2rem;
  }
  div {
    margin: 1rem;
    width: 80%;
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: 20% 1fr;
    justify-items: center;
    p {
      justify-self: right;
      text-align: right;
    }
  }
}
