.contact {
  margin: 5rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include respond(l) {
    flex-direction: row;
  }
}

.form {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h1 {
    font-family: $font-exo;
    font-weight: 300;
    margin-bottom: 2rem;
    text-align: center;

    @include respond(l) {
      text-align: left;
    }
  }

  div {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem auto;

    @include respond(m) {
      grid-template-columns: 15rem 1fr;
    }

    label {
      font-size: 2rem;
    }
    input {
      margin-left: 2rem;
      padding: 1rem;
    }
    textarea {
      margin-left: 2rem;
      padding: 1rem;
      height: 15rem;
    }
  }
  button {
    @include button("secondary");
  }
}

.info {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  h1 {
    font-family: $font-exo;
    font-weight: 300;
    margin-bottom: 2rem;
    text-align: center;
    @include respond(l) {
      text-align: left;
    }
  }
  div {
    margin: 1rem auto;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include respond(l) {
      justify-content: flex-start;
      flex-direction: row;
    }

    svg {
      margin-right: 2rem;
    }

    p {
      text-align: center;
      @include respond(l) {
        text-align: left;
      }
    }
  }
}
