//COLORS
//Colors are in base.module.scss file to avoid multiple import

//FONTS
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

$font-exo: "Exo", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-dancing: "Dancing Script", cursive;
