:root {
  --color-primary-dark: #6d0101;
  --color-primary: #d41e00;
  --color-secondary: #d2aa5c;
  --color-secondary-light: #ecd444;
  --color-secondary-light-2: #feeba0;
  --color-grey: #474747;

  --bg-color: #fff;
  --color-font: #000;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $font-raleway;
  font-size: 50%;

  @include respond(m) {
    font-size: 55%;
  }
  @include respond(l) {
    font-size: 62.5%;
  }
  @include respond(xxl) {
    font-size: 65%;
  }
}
